{% load i18n extra_tags %}
{% declare %}
    show_tags_in_a_cloud = settings.SHOW_TAGS_IN_A_CLOUD
{% enddeclare %}

<div class="boxC">
	<h3>{% trans "Recent tags" %}</h3>
	<div class="body">
         <div class="tags" id="recent-tags">
        {% for tag in tags %}
            <a rel="tag"{% if show_tags_in_a_cloud %} style="font-size: {% get_tag_font_size tag %}px;"{% endif %} class="tag-link-{{ tag.name }}" title="{% blocktrans with tag.name as tagname %}see posts tagged '{{tagname}}'{% endblocktrans %}" href="{% url posts_with_tag tag.name|urlencode %}">{{ tag.name }}</a>
        {% endfor %}
        </div>
        <div class="more"><a href="{% url tags %}">{% trans "popular tags" %} </a> </div>
    </div>
</div>
