a.debate_label {
	position: relative; 
	top: -0.4em;
	color: red;
	font-size: .8em;
}
.counter_menu {
	display: block;
	visibility: hidden;
	position: absolute;

	background: #EAEBD8;
	border: 1px solid #5970B2;
}
