div.positionBlock {
	border-radius: 2.5em 2.5em 2.5em 1em;
	border-style:solid;
	border-width:2px;
	border-color: #666; /*#AAD;*/
	padding: 1em 1em 1em 1em;
	margin-bottom: 1em;
}
div.positionDetails {
	display: none;
}
div.positionTitle {
	margin-bottom: 0em;
}

div.ProCons {
	width: 100%;
/*	border:1px solid black;*/
	padding: 0px;
	margin: 0px;
}
div.ProCons:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
div.ProCons div.headerRow {
  font-size: 16px;
  font-weight: bold;
/*	border-bottom:1px solid black;*/
	padding: 4px;
}

div.ProCons div.proColumn {
	margin-bottom: auto;
}
div.ProCons div.column {
/*	-moz-border-radius: 2em;
	border-radius: 2em;
	border-right:1px solid black;*/
	width: 349px;
	float: left;
	padding: 0px;
	margin: 0px;
}
div.ProCons div.heading {
  font-size: 15px;
  font-weight: bold;
	padding: 2px 2em 4px 3em;
	border-bottom: 1.5px solid black;
	-moz-border-radius: 1.5em;
	border-radius: 1.5em;
}
div.ProCons div.proHeading {
	background-color: #2E5E26;
}
div.ProCons div.conHeading {
	background-color: #732A2A;
}
span.proText,span.conText {
	color: white;
	font-variant:small-caps;
  font-size: 20px;
}
div.positionSupportCell {
	width: 98%;
	margin: 2px 0px 2px 0px;
	border:1px solid gray;
/*	border-bottom:1px dashed black;*/
	border-radius: 2em 2em 2em 1em;
	background-color: #F5F5F5;
}
div.positionSupportCell:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
div.positionSupportCell div.vote-buttons {
	width: 30px;
  padding: 30px 2px 30px 2px;
}
div.positionSupportCell div.reason-body {
	padding: 6px 0px 0px 0px;
}
div.addNewNodeButton {
	text-align: center;
	border-radius: 2em;
  padding: 5px;
	border: 2px solid #2559a8;
	background-color: #F5F5F5;
  font-size: 16px;
}
div.addProConArgument {
	margin: .5em 2em 0 2em;
}
div.addNewPosition {
	margin: .5em 2em 0 2em;
}
div.reason-body:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
