{% spaceless %}
{% load i18n humanize extra_tags %}
{% declare %}
    reply_count = arguments.children_count('rebuttal')
{% enddeclare %}

<div class="boxC">
    <div class="arguments-count">
        {{ arguments.paginator.count }}<span style="color:black;font-size:14px;margin-left:5px">{{ list_description }}</span>
    </div>


    {% if reply_count %}
    <div class="arguments-count">
        {{ reply_count }}<span style="color:black;font-size:14px;margin-left:5px">{% trans "rebuttals" %}</span>
    </div>

    {% endif %}

    <div>
        <p class="nomargin">
            {{ arguments.paginator.sort_description }}
        </p>
    </div>
</div>
{% endspaceless %}
