{% load i18n humanize extra_filters extra_tags user_tags %}
<div class="short-summary">
    <div class="counts">{% if favorite_count %}
        <div class="favorites">
            <span class="favorite-mark{% if argument.favourite_count %} on{% endif %}"></span>
            <div class="item-count">{{argument.favourite_count|intcomma}}</div>
        </div>
        {% endif %}
        <div class="votes">
            <div class="item-count">{{argument.score|intcomma}}</div>
            <div>{% ifequal argument.score 1 %}{% trans "vote" %}{% else %}{% trans "votes" %}{% endifequal %}</div>
        </div >
        <div {% if argument.accepted_count %}title="{% trans "this argument has an accepted rebuttal" %}"{% endif %} class="status {% if argument.accepted_count %}answered-accepted{% endif %} {% ifequal argument.answer_count 0 %}unanswered{% endifequal %}{% ifnotequal argument.answer_count 0 %}answered{% endifnotequal %}">
            <div class="item-count">{{argument.answer_count|intcomma}}</div>
            <div>{% ifequal argument.answer_count 1 %}{% trans "rebuttal" %}{% else %}{% trans "rebuttals" %}{% endifequal %}</div>
        </div>
        <div class="views">
             <div class="item-count">{{argument.view_count|decorated_int|safe}}</div>
             <div>{% ifequal argument.view_count 1 %}{% trans "view" %}{% else %}{% trans "views" %}{% endifequal %}</div>
        </div>
    </div>

    <div class="argument-summary-wrapper">
        <h2><a title="{{ argument.summary }}" href="{{ argument.get_absolute_url }}">{{argument.headline}}</a></h2>
        <div class="userinfo">
            <span class="relativetime" title="{{argument.last_activity_at}}">{% diff_date argument.last_activity_at %}</span>
            {% if argument.last_activity_by %}{% user_signature argument.last_activity_by signature_type %}{% endif %}
        </div>

        <div class="tags">{% for tag in argument.tagname_list %}
            <a class="tag-link-{{ tag }}" href="{% url arguments_with_tag tag|urlencode %}" title="{% trans "see arguments tagged" %} '{{ tag }}'" rel="tag">{{ tag }}</a>{% endfor %}
        </div>
    </div>

</div>
