{% load i18n %}

<div class="tabsA">
    <a id="active" href="{{ base_url }}active"{% ifequal current "active" %} class="on"{% endifequal %} title="{% trans "most recently updated arguments" %}">{% trans "active" %}</a>
    <a id="latest" href="{{ base_url }}latest"{% ifequal current "latest" %} class="on"{% endifequal %} title="{% trans "most recently asked arguments" %}">{% trans "newest" %}</a>
    <a id="hottest" href="{{ base_url }}hottest"{% ifequal current "hottest" %} class="on"{% endifequal %} title="{% trans "hottest arguments" %}">{% trans "hottest" %}</a>
    <a id="mostvoted" href="{{ base_url }}mostvoted"{% ifequal current "mostvoted" %} class="on"{% endifequal %} title="{% trans "most voted arguments" %}">{% trans "most voted" %}</a>
</div>
