{% load i18n humanize extra_filters extra_tags user_tags %}
<div class="short-summary">
    <div class="counts">{% if favorite_count %}
        <div class="favorites">
            <span class="favorite-mark{% if post.favourite_count %} on{% endif %}"></span>
            <div class="item-count">{{post.favourite_count|intcomma}}</div>
        </div>
        {% endif %}
        <div class="votes">
            <div class="item-count">{{post.score|intcomma}}</div>
            <div>{% ifequal post.score 1 %}{% trans "vote" %}{% else %}{% trans "votes" %}{% endifequal %}</div>
        </div >
        <div class="status {% ifequal post.reply_count 0 %}unanswered{% endifequal %}{% ifnotequal post.reply_count 0 %}answered{% endifnotequal %}">
            <div class="item-count">{{post.reply_count|intcomma}}</div>
            <div>
							{% ifequal post.reply_count 1 %}
								{{post.friendly_count_type_singular}}
							{% else %}
								{{post.friendly_count_type_plural}}
							{% endifequal %}
						</div>
        </div>
        <div class="views">
             <div class="item-count">{{post.view_count|decorated_int|safe}}</div>
             <div>{% ifequal post.view_count 1 %}{% trans "view" %}{% else %}{% trans "views" %}{% endifequal %}</div>
        </div>
    </div>

    <div class="post-summary-wrapper">
        <h2><a title="{{ post.summary }}" href="{{ post.get_absolute_url }}">{{post.headline}}</a></h2>
        <div class="userinfo">
            <span class="relativetime" title="{{post.last_activity_at}}">{% diff_date post.last_activity_at %}</span>
            {% if post.last_activity_by %}{% user_signature post.last_activity_by signature_type %}{% endif %}
        </div>

        <div class="tags">{% for tag in post.tagname_list %}
            <a class="tag-link-{{ tag }}" href="{% url posts_with_tag tag|urlencode %}" title="{% trans "see posts tagged" %} '{{ tag }}'" rel="tag">{{ tag }}</a>{% endfor %}
        </div>
    </div>

</div>
