{% load i18n %}
{% load humanize %}

{% if tags %}
    <div class="boxC">
        <h3 class="subtitle">{% trans "Related tags" %}</h3>
        <div class="tags" id="recent-tags">
            {% for tag in tags %}
                <a rel="tag" class="tag-link-{{ tag.name }}" title="{% blocktrans with tag.name as tag_name %}see issues tagged '{{ tag_name }}'{% endblocktrans %}"  href="{% url issues_with_tag tag.name|urlencode %}">{{ tag.name }}</a>
                <span class="tag-number">&#215; {{ tag.used_count|intcomma }}</span>
                <br />
            {% endfor %}
        </div>
    </div>
{% endif %}
