{% extends "base_content.html" %}
<!-- template 404.html -->
{% load i18n %}
{% block title %}{% trans "404 Error" %}{% endblock %}
{% block forestyle%}
    <style type="text/css">
 		form input { margin-right: 5px; }
	</style>
{% endblock %}
{% block forejs %}
       <script type="text/javascript">
        $().ready(function(){
            $("#linkPrevious").bind("click", back=function(){history.go(-1);})            
        });
         
        </script>
{% endblock %}
{% block content %}
<div id="main-bar" class="headNormal">
    {% trans "404 Not Found" %}
</div>
<div id="main-body" class="">
    <div style="padding:5px 0px 10px 0;line-height:25px;">
        <h3>{% trans "Sorry, could not find the page you requested." %}</h3>
        <div style="margin-top:5px">
        {% trans "This might have happened for the following reasons:" %}<br/>
            <ul>
            <li>{% trans "this question or answer has been deleted;" %}</li>
            <li>{% trans "url has error - please check it;" %}</li>
            <li>{% trans "if you believe this error 404 should not have occurred, please" %} 
				<a href="{% if settings.CONTACT_URL %}{{ settings.CONTACT_URL }}{% else %}{% url feedback %}{% endif %}">{% trans "report this problem" %}</a></li>
            </ul>
        </div>
        <script type="text/javascript">
            var GOOG_FIXURL_LANG = '{{settings.LANGUAGE_CODE}}';
            var GOOG_FIXURL_SITE = '{{site_url}}';
        </script>
        <script type="text/javascript" src="http://linkhelp.clients.google.com/tbproxy/lh/wm/fixurl.js"></script>
        <ul>
            <li><a href="#" id="linkPrevious">{% trans "back to previous page" %} &raquo;</a></li>
            <li><a href="{% url issues %}">{% trans "see all issues" %} &raquo;</a></li>
            <li><a href="{% url arguments %}">{% trans "see all arguments" %} &raquo;</a></li>
            <li><a href="{% url tags %}">{% trans "see all tags" %} &raquo;</a></li>
        </ul>
    </div>

</div>
{% endblock %}
<!-- end template 404.html -->
