{% extends "base_content.html" %}
<!-- template 500.html -->
{% load i18n %}
{% block title %}{% spaceless %}500 Error{% endspaceless %}{% endblock %}
{% block forejs %}
        <script type="text/javascript">
        $().ready(function(){
            $("#linkPrevious").bind("click", back=function(){history.go(-1);})            
        });
         
        </script>
{% endblock %}
{% block content %}
<div id="main-bar" class="">
    <h3>
        500 Server Error
    </h3>

</div>
<div id="main-body" class="headNormal">
    <div style="padding:5px 0px 10px 0;line-height:25px">
        <h3>{% trans "sorry, system error" %}</h3>
        <br/>
        {% trans "system error log is recorded, error will be fixed as soon as possible" %}<br/>
		{% trans "please report the error to the site administrators if you wish" %}
        <ul>
            <li><a href="#" id="linkPrevious">{% trans "back to previous page" %}</a></li>
            <li><a href="{% url issues %}">{% trans "see all issues" %} &raquo;</a></li>
            <li><a href="{% url arguments %}">{% trans "see all arguments" %} &raquo;</a></li>
            <li><a href="{% url tags %}">{% trans "see tags" %}</a></li>
        </ul>
    </div>

</div>
{% endblock %}
<!-- end template 500.html -->
