{% extends "base.html" %}
<!-- template answer_edit.html -->
{% load i18n %}
{% load extra_tags %}
{% block title %}{% spaceless %}{% trans "Edit answer" %}{% endspaceless %}{% endblock %}
{% block forejs %}
        <script type='text/javascript' src='{% media  "/media/js/wmd/showdown.js" %}'></script>
        <script type='text/javascript' src='{% media  "/media/js/wmd/wmd.js" %}'></script>
        <link rel="stylesheet" type="text/css" href="{% media  "/media/js/wmd/wmd.css" %}" />
        <script type="text/javascript">
        
        $().ready(function(){
            $("#nav_questions").attr('className',"on");
            $('#editor').TextAreaResizer();


            //toggle preview of editor
            var display = true;
            var txt = "{% trans "hide preview" %}";
            $('#pre-collapse').text(txt);
            $('#pre-collapse').bind('click', function(){
                txt = display ? "{% trans "show preview" %}" : "{% trans "hide preview" %}";
                display = !display;
                $('#previewer').toggle();
                $('#pre-collapse').text(txt);
            });


            $('#id_revision').unbind().change(function(){
                $("#select_revision").click();
            });


            answer = $("textarea#editor")[0].value;
        });


        function submitClicked(e, f) {
            if(!(browserTester('chrome') || browserTester('safari'))) {
                $("input.submit")[0].disabled=true;
                $("input.submit")[1].disabled=true;
            }
            window.removeEventListener('beforeunload', beforeUnload, true);
            if (f) {
                f.submit();
            }
        }

        function beforeUnload(e) {
            if($("textarea#editor")[0].value != answer) {
                 return yourWorkWillBeLost(e);
            }
        }
        window.addEventListener('beforeunload', beforeUnload, true);

        var answer = "";
        </script>
{% endblock %}
        
{% block content %}
<div id="main-bar" class="headNormal">
    {% trans "Edit answer" %} [<a href="{{ answer.question.get_absolute_url }}#{{ answer.id }}">{% trans "back" %}</a>]
</div>
<div id="main-body" class="ask-body">
    <div id="askform">
        <form id="fmedit" action="{% url edit_answer answer.id %}" method="post">
            {% csrf_token %}
            <label for="id_revision" ><strong>{% trans "revision" %}:</strong></label> <br/> 
            {% if revision_form.revision.errors %}{{ revision_form.revision.errors.as_ul }}{% endif %}
            <div>
            {{ revision_form.revision }} <input type="submit" style="display:none" id="select_revision" name="select_revision" value="{% trans "select revision" %}">
            </div>
            <div class="form-item">
                <div id="wmd-button-bar" class="wmd-panel"></div>
                {{ form.text }}
                <span class="form-error"></span>
                <div class="preview-toggle"><span id="pre-collapse" 
					title="{% trans "Toggle the real time Markdown editor preview" %}">{% trans "toggle preview" %}</span>
			    <span style="text-align: right; margin-left: 100px;" id="editor-metrics"> </span>
             <span style="text-align: right; margin-left: 100px;">Max: {{ settings.FORM_MAX_QUESTION_BODY }} characters</span>
				{% if settings.WIKI_ON %}
                    <div style="float:right;">
                        {{ form.wiki }} <span style="color:#000;cursor:help" title="{{form.wiki.help_text}}">{{ form.wiki.label_tag }} </span>
                    </div>
                    {% endif %}
                </div>
                <div id="previewer" class="wmd-preview"></div>
            </div>
            
            <strong>{{ form.summary.label_tag }}</strong> <br/>
            {{ form.summary }}  {{ form.summary.errors }}
            <div class="title-desc">
                {{ form.summary.help_text }}
            </div>
            
            {% if form.recaptcha %}
            <div class="question-captcha">
            	{{ form.recaptcha.errors }}
            	{{ form.recaptcha }}
            </div>
            {% endif %}
            
            <input type="button" value="{% trans "Save edit" %}" class="submit" onclick="submitClicked(event, this.form)" />
            <input type="button" value="{% trans "Cancel" %}" class="submit" onclick="submitClicked(event, this.form);history.back(-1);" />
        </form>
    </div>
</div>
{% endblock %}

{% block sidebar %}
{% include "answer_edit_tips.html" %}
{% endblock %}

{% block endjs %}
{% endblock %}
<!-- end template answer_edit.html -->
