{% extends "base.html" %}
<!-- arguments.html -->
{% load argument_list_tags %}
{% load i18n %}
{% load extra_tags %}
{% load general_sidebar_tags %}

{% block title %}{% spaceless %}{{ page_title }}{% endspaceless %}{% endblock %}

{% block metadescription %}{% spaceless %}
    {% if tag %}
        {% blocktrans with settings.APP_TITLE as app_title %}Debates about {{ tag }} on {{ app_title }}{% endblocktrans %}
    {% endif %}
{% endspaceless %}{% endblock %}

{% block meta %}
    <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ feed_url }}" />
{% endblock %}

{% block content %}

<div class="tabBar">
    {% include "argument_list/title.html" with post=argument %}
    <a class="feed-icon" style="background-image:url('{% media "media/images/feed-icon-small.png" %}');" href="{{ feed_url }}" title="{% trans "subscribe to argument RSS feed" %}"></a>
    {{ arguments.paginator.sort_tabs }}
</div>
<div id="listA">{% for argument in arguments.paginator.page %}
    {% argument_list_item argument %}
{% endfor %}</div>
{% endblock %}

{% block tail %}
    <div class="pager">{{ arguments.paginator.page_numbers }}</div>
    <div class="pagesize">{{ arguments.paginator.page_sizes }}</div>
{% endblock %}

{% block sidebar %}
    {% include "argument_list/count.html" %}
    {% sidebar_upper %}
    {% tag_selector %}
    {% sidebar_lower %}
    {% argument_list_related_tags arguments.paginator.page %}

{% endblock %}
<!-- end arguments.html -->
