{% extends "base.html" %}
<!-- template badges.html -->
{% load extra_tags %}
{% load humanize %}
{% load i18n %}
{% block title %}{% spaceless %}{% trans "Badges summary" %}{% endspaceless %}{% endblock %}
{% block content %}
<div class="headlineA">
        <span class="headMedals">{% trans "Badges" %}</span>
</div>
<div class="badges" id="main-body" style="width:100%">
    <p>
	{% trans "Community gives you awards for your arguments, rebuttals, and votes." %}
	{% blocktrans %}Below is the list of available badges and number of times each type of badge has been awarded.
    {% endblocktrans %}
    </p>
    <div id="medalList">
        {% for badge in badges %}
        <div style="clear:both;line-height:30px">
            <div class="intoMyBadges">
            {% if badge.id in mybadges %}
                 <span>&#10004;</span>
            {% endif %}
            </div>
            <div class="badgeListItem">
                <a href="{{badge.get_absolute_url}}" title="{{ badge.get_type_display }} : {{ badge.description }}" class="medal"><span class="badge{{ badge.type }}">&#9679;</span>&nbsp;{{ badge.name }}</a><strong> &#215; {{ badge.awarded_count|intcomma }}</strong>
            </div>
            <p class="badgeListDescription">
                {{ badge.description }}
            </p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
{% block sidebar %}

<div class="boxC">
    <h3>{% trans "Community badges" %}</h3>
    <div class="body">
    <p>
        <span title="{% trans "gold badge: the highest honor and is very rare" %}" class="medal"><span class="badge1">&#9679;</span>&nbsp;{% trans "gold" %}</span>
    </p>
    <p>
	{% trans "gold badge description" %}
    </p>
    <p>
        <span
			title="{% trans "silver badge: occasionally awarded for the very high quality contributions" %}" 
			class="medal"><span class="badge2">&#9679;</span>&nbsp;{% trans "silver" %}</span>
    </p>
    <p>
	{% trans "silver badge description" %}
    </p>
    <p>
        <span title="{% trans "bronze badge: often given as a special honor" %}" class="medal">
		<span class="badge3">&#9679;</span>&nbsp;{% trans "bronze" %}</span>
    </p>
    <p>
	{% trans "bronze badge description" %}
    </p>
    </div>
</div>
{% endblock %}
<!-- end template badges.html -->
