{% load extra_tags ui_registry i18n %}


<div>
    <div class="footerLinks" >
        {% loadregistry footer_links %}<span class="link-separator"> |</span>{% endloadregistry %}
    </div>
  <p>
     <a href="http://code.google.com/p/django-debates/" target="_blank" title="Django Debates {{ settings.OSQA_VERSION }} ({{ settings.SVN_REVISION }})">
        powered by the Django-Debates platform
     </a>
  </p>
</div>
 <div id="licenseLogo">
  <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/">
            <img src="{% media  "/media/images/by-sa-88x31.png" %}" title="Creative Commons: Attribution - Share Alike" alt="cc-by-sa" width="88" height="31" />
  </a>
 </div>

