<!-- template header.html -->
{% load extra_tags ui_registry i18n extra_filters markup %}

<div id="roof_wide">
  <div id="roof">
    <div id="top">
        {% loadregistry header_links %}{% endloadregistry %}
    </div>
    <div id="logo">
      <a href="{% url index %}">
        <img src="{{ settings.APP_LOGO }}" title="{% trans "back to home page" %}" alt="{{settings.APP_TITLE}} logo"/>
      </a>
         <div class="clear"></div>
    </div>
  
  <div id="searchBar">
    <form action="{% url search %}" method="get">
        {% csrf_token %}
        <div>
            <input type="text" class="searchInput" value="{{ keywords }}" name="q" id="keywords" />
            <input type="submit" name="Submit" value="{% trans "search" %}" class="searchBtn" />
        </div>
        <div class="options">
            <input id="type-question" type="radio" value="question" name="t" 
                checked="checked" /><label for="type-question">{% trans "arguments" %}</label>
            <input id="type-tag" type="radio" value="tag" name="t" /><label for="type-tag">{% trans "tags" %}</label>
            <input id="type-user" type="radio" value="user" name="t" /><label for="type-user">{% trans "users" %}</label>
        </div>
    </form>  
  </div>
         <div class="clear"></div>

  </div>
</div>

<div id="nav_wide">
    <div id="nav">
        {% loopregistry page_top_tabs %}{% spaceless %}
            <a id="nav_{{ tab_name }}"{% ifequal tab tab_name %} class="on"{% endifequal %} href="{{ tab_url }}" >{{ tab_title }}</a>
        {% endspaceless %}{% endloopregistry %}
        <span class='create'>
        <a href="{% url new_issue %}" class="nav_new special">{% trans "create issue" %}</a>
        <a href="{% url new_argument %}" class="nav_new special">{% trans "create argument" %}</a>
        </span>
  <div class="clear"></div>
    </div>
</div>


  {% if settings.USE_ANNOUNCEMENT_BAR|or_preview:request %}
  <div id="announcement">
      {{ settings.ANNOUNCEMENT_BAR|or_preview:request|static_content:settings.ANNOUNCEMENT_BAR_RENDER_MODE }}
  </div>
  {% endif %}
<!-- end template header.html -->
