{% extends "issues.html" %}
<!-- index.html -->
{% load general_sidebar_tags %}
{% load issue_list_tags %}
{% load i18n %}
{% block fulltitle %}{{ settings.APP_TITLE }}{% endblock %}
{% block sidebar %}
    {% if not request.user.is_authenticated %}
        {% if settings.SHOW_WELCOME_BOX %}
            <div class="boxA">
                <h3>{% trans "Welcome to " %}{{ settings.APP_SHORT_NAME }}</h3>
                <div class="body">
                  {{ settings.APP_INTRO|safe }}
                  <div class="more"><a href="{% url about %}">{% trans "about" %} </a></div>
                  <div class="more"><a href="{% url faq %}">{% trans "faq" %} </a></div>
                </div>
            </div>
        {% endif %}
    {% endif %}
    {% include "issue_list/count.html" %}
    {% sidebar_upper %}
    {% if request.user.is_authenticated %}
        {% tag_selector %}
    {% endif %}
    {% sidebar_lower %}
    {% recent_tags %}
    {% recent_awards %}
{% endblock %}
<!-- index.html -->

