{% extends "base.html" %}
<!-- issues.html -->
{% load issue_list_tags %}
{% load i18n %}
{% load extra_tags %}
{% load general_sidebar_tags %}

{% block title %}{% spaceless %}{{ page_title }}{% endspaceless %}{% endblock %}

{% block metadescription %}{% spaceless %}
    {% if tag %}
        {% blocktrans with settings.APP_TITLE as app_title %}Issues about {{ tag }} on {{ app_title }}{% endblocktrans %}
    {% endif %}
{% endspaceless %}{% endblock %}

{% block meta %}
    <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ feed_url }}" />
{% endblock %}

{% block content %}

<div class="tabBar">
    {% include "issue_list/title.html" %}
    <a class="feed-icon" style="background-image:url('{% media "media/images/feed-icon-small.png" %}');" href="{{ feed_url }}" title="{% trans "subscribe to issue RSS feed" %}"></a>
    {{ issues.paginator.sort_tabs }}
</div>
<div id="listA">{% for issue in issues.paginator.page %}
    {% issue_list_item issue %}
{% endfor %}</div>
{% endblock %}

{% block tail %}
    <div class="pager">{{ issues.paginator.page_numbers }}</div>
    <div class="pagesize">{{ issues.paginator.page_sizes }}</div>
{% endblock %}

{% block sidebar %}
    {% include "issue_list/count.html" %}
    {% sidebar_upper %}
    {% tag_selector %}
    {% sidebar_lower %}
    {% issue_list_related_tags issues.paginator.page %}

{% endblock %}
<!-- end issues.html -->
