{% extends "base.html" %}
<!-- template new_reason.html -->
{% load i18n extra_tags extra_filters %}
{% block title %}{% spaceless %}{% trans "Give supporting reason for side" %}{% endspaceless %}{% endblock %}
{% block forejs %}
        <script type='text/javascript' src='{% media  "/media/js/wmd/showdown.js" %}'></script>
        <script type='text/javascript' src='{% media  "/media/js/wmd/wmd.js" %}'></script>
        <link rel="stylesheet" type="text/css" href="{% media  "/media/js/wmd/wmd.css" %}" />
        <script type="text/html" id="question-summary-template">
            <div class="answer-summary">
                <a href="%URL%"><div class="answer-votes">%SCORE%</div></a>
                <div class="answer-link">
                    <a class="question-hyperlink" href="%URL%" title="%SUMMARY%">%TITLE%</a>
                </div>
            </div>
        </script>
        <script type="text/javascript">
        $(function(){
            //set current module button style
            $("#nav_ask").attr('className',"on");
            $('#editor').TextAreaResizer();

            //toggle preview of editor
			//todo remove copy-paste
            var display = true;
            var txt = "[{% trans "hide preview" %}]";
            $('#pre-collapse').text(txt);
            $('#pre-collapse').bind('click', function(){
                txt = display ? "[{% trans "show preview" %}]" : "[{% trans "hide preview" %}]";
                display = !display;
                $('#previewer').toggle();
                $('#pre-collapse').text(txt);
            });

            //Tags autocomplete action
        	$("#id_tags").autocomplete("{% url matching_tags %}", {
                minChars: 1,
        		matchContains: true,
                max: 10,
                multiple: true,
                multipleSeparator: " ",
                highlightItem: true,
                scroll: true,
                scrollHeight: 300,


        		/*
        		formatItem: function(row, i, max) {
        			return row.n + " ("+ row.c +")";
        		},
                formatResult: function(row, i, max){
                    return row.n;
                }
                */

                formatItem: function(row, i, max, value) {
                    return row[1] + " (" + row[2] + ")";
                },

                formatResult: function(row, i, max, value){
                    return row[1];
                }

            });

        });

        function submitClicked(e, f, pub) {
            if(!(browserTester('chrome') || browserTester('safari'))) {
                $("input.submit")[0].disabled=true;
            }
            window.removeEventListener('beforeunload', beforeUnload, true);
            if (f) {
                if (pub) {
                    var input = document.createElement("input");
                    input.setAttribute("type", "hidden");
                    input.setAttribute("name", "publish");
                    input.setAttribute("value", "1");
                    f.appendChild(input);
		}

                f.submit();
            }
        }

        function beforeUnload(e) {
            if($("input#id_title")[0].value != "" || $("textarea#editor")[0].value != "" || $("input#id_tags")[0].value != "") {
                return yourWorkWillBeLost(e);
            }
        }
        window.addEventListener('beforeunload', beforeUnload, true);

        </script>
        <script src="{% media "/media/js/debate.new.post.js" %}" type="text/javascript"></script>
{% endblock %}

{% block content %}
<div id="main-bar" class="headNormal">
	{% if opposes_parent %}
		{% trans "Add argument against the " %} {{ position.title }} {% trans "position" %}
	{% else %}
		{% trans "Add support for the " %} {{ position.title }} {% trans "position" %}
	{% endif %}
</div>
<div id="main-body" class="ask-body">
		<div>
		Issue: {{ position.parent.title }}
		</div>
		<div>
		{% if opposes_parent %}
			Against position: {{ position.title }}
		{% else %}
			For position: {{ position.title }}
		{% endif %}
		</div>
    <div id="askform">
        <form id="fmask" action="" method="post" accept-charset="utf-8">
            {% csrf_token %}
			{% if not request.user.is_authenticated %}
            <div class="message">
                <span class="strong big">{% trans "You are welcome to start submitting your reason anonymously." %}</span>
                <p>{% blocktrans %}
                    After submitting, you will be redirected to the login/signup page.
                    Your submission will be saved in the current session and will be published after you login with your existing account,
                    or signup for a new account{% endblocktrans %}{% if "ask"|contained_in:settings.REQUIRE_EMAIL_VALIDATION_TO %}
                    {% trans "and validate your email." %}{% else %}.{% endif %}</p>
            </div>
            {% else %}
                {% if not request.user.email_valid_for_creating_reason %}
                    <div class="message">
                        {% blocktrans %}Remember, your reason will not be published until you validate your email.{% endblocktrans %}
                        <a href="{% url send_validation_email %}">{% trans "Send me a validation link." %}</a>
                    </div>
                {% endif %}
			{% endif %}
            <div class="form-item">
                {{ form.opposes_parent }} {{ form.opposes_parent.errors }}
            </div>
            <div class="form-item">
                <div class="title-desc">
                    {{ form.text.help_text }}
                </div>
                <div id="wmd-button-bar" class="wmd-panel"></div>
                {{ form.text }} {{ form.text.errors }}
                <div class="preview-toggle">
                    <table width="100%">
                        <tr>
                            <td>
                                <span id="pre-collapse" title="{% trans "Toggle the real time Markdown editor preview" %}">{% trans "toggle preview" %}</span>
                            </td>
                            <td style="text-align: right;" id="editor-metrics"></td>
                            <td style="text-align: right;">Max: {{ settings.FORM_MAX_REASON_BODY }} characters</td>

                            {% if settings.WIKI_ON %}
                            <td class="tright">
                                {{ form.wiki }} <span class="help_text" title="{{form.wiki.help_text}}">{{ form.wiki.label_tag }} </span>
                            </td>
                            {% endif %}
                        </tr>

                    </table>
                </div>
                <div id="previewer" class="wmd-preview"></div>
                <span class="form-error"></span>
            </div>
			
            {% if form.recaptcha %}
            <div class="question-captcha" style="float: left">
            	{{ form.recaptcha.errors }}
            	{{ form.recaptcha }}
            </div>
            <div class="clear"></div>
            {% endif %}
			
      {% if not request.user.is_authenticated %}
            <input name="publish" type="button" value="{% trans "Login/signup to post your reason" %}" class="submit" onclick="submitClicked(event, this.form, false)"/>
			{% else %}
            <input name="publish" type="button" value="{% trans "Publish reason" %}" class="submit" onclick="submitClicked(event, this.form, true)"/>
      {% endif %}
        </form>
    </div>
</div>
{% endblock %}

{% block sidebar %}
{% include "reason_edit_tips.html" %}
{% endblock %}

{% block endjs %}
{% endblock %}
<!-- end template new_reason.html -->
