<!-- position_edit_tips.html -->
{% load markup %}
{% load i18n general_sidebar_tags %}
<div class="boxC" id="title_side_bar">
    <p class="subtitle darkred">{% trans "Tips" %}</p>
    <div class="list-item">
        {{ settings.POSITION_BODY_TIPS|markdown:"settingsparser" }}
        <p class='info-box-follow-up-links'>
            <a href="{% url faq %}" target="_blank" title="{% trans "see frequently asked question" %}">{% trans "faq" %} &raquo;</a>
        </p>
    </div>
</div>

{% markdown_help %}

<div class="boxC" id="tags_side_bar" align="left">
    <p class="subtitle darkred">{% trans "What Are Tags" %}</p>
    <div class="list-item">
        {{ settings.REASON_TAG_TIPS|markdown:"settingsparser" }}
    </div>
</div>


<!-- end position_edit_tips.html  -->
                                  
