{% extends "base.html" %}
<!-- positions.html -->
{% load post_list_tags %}
{% load i18n %}
{% load extra_tags %}
{% load general_sidebar_tags %}

{% block title %}{% spaceless %}{{ page_title }}{% endspaceless %}{% endblock %}

{% block metadescription %}{% spaceless %}
    {% if tag %}
        {% blocktrans with settings.APP_TITLE as app_title %}Positions about {{ tag }} on {{ app_title }}{% endblocktrans %}
    {% endif %}
{% endspaceless %}{% endblock %}

{% block meta %}
    <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ feed_url }}" />
{% endblock %}

{% block content %}

<div class="tabBar">
    {% include "post_list/title.html" %}
    <a class="feed-icon" style="background-image:url('{% media "media/images/feed-icon-small.png" %}');" href="{{ feed_url }}" title="{% trans "subscribe to position RSS feed" %}"></a>
    {{ positions.paginator.sort_tabs }}
</div>
<div id="listA">{% for position in positions.paginator.page %}
    {% post_list_item position %}
{% endfor %}</div>
{% endblock %}

{% block tail %}
    <div class="pager">{{ positions.paginator.page_numbers }}</div>
    <div class="pagesize">{{ positions.paginator.page_sizes }}</div>
{% endblock %}

{% block sidebar %}
    {% include "post_list/count.html" with posts=positions %}
    {% sidebar_upper %}
    {% tag_selector %}
    {% sidebar_lower %}
    <!--{ % issue_list_related_tags issues.paginator.page %} -->

{% endblock %}
<!-- end issues.html -->
