{% extends "base.html" %}
<!-- position.html -->
{% load node_tags %}
{% load extra_tags %}
{% load extra_filters %}
{% load general_sidebar_tags %}
{% load smart_if %}
{% load humanize %}
{% load i18n %}
{% load cache %}
{% block metadescription %}{{ position.meta_description }}{% endblock %}
{% block metakeywords %}{{position.tagname_meta_generator}}{% endblock %}
{% block meta %}
        <link rel="canonical" href="{{settings.APP_BASE_URL}}{{position.get_absolute_url}}" />
        <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ position.get_absolute_url }}?type=rss">
{% endblock %}
{% block title %}{% spaceless %}{{ position.headline }}{% endspaceless %}{% endblock %}
{% block forejs %}
        <script type='text/javascript' src='{% media  "/media/js/debate.main.js" %}'></script>
        {% if not position.nis.closed %}
        <script type='text/javascript' src='{% media  "/media/js/debate.js" %}'></script>
        <script type='text/javascript' src='{% media  "/media/js/jquery.caret.js" %}'></script>
        <script type='text/javascript' src='{% media  "/media/js/wmd/showdown.js" %}'></script>
        <!--script type='text/javascript' src='{ % media  "/media/js/wmd/wmd.js" % }'></script-->
        <!--script type="text/javascript" src='{ % media "/media/js/form.js" %}'></script-->

        <link rel="stylesheet" type="text/css" href="{% media  "/media/style/issue.css" %}" />
        <link rel="stylesheet" type="text/css" href="{% media  "/media/js/wmd/wmd.css" %}" />

        {% if embed_youtube_videos %}
        <script type='text/javascript' src='{% media  "/media/js/viewbox_min.js" %}'></script>
        <script type='text/javascript' src='{% media  "/media/js/youtube.js" %}'></script>
        <link rel="stylesheet" type="text/css" href="{% media  "/media/js/viewbox.css" %}" />
        {% endif %}
        {% endif %}

        <noscript>
            <style>
                .comment.not_top_scorer {
                    display: block;
                }
                .comment-form-container {
                    display: block;
                }
                .div.comment-tools {
                    display: none;
                }
            </style>
        </noscript>
{% endblock %}
        
{% block content %}
<div class="headNormal">
    <h1><a href="{{ position.get_absolute_url }}">{{ position.headline }}</a></h1>
</div>
<div id="main-body" class="">
    <div id="askform">
            <table style="width:100%;" id="issue-table" {% post_classes position %}>
                <tr>
                    <td style="width:30px;vertical-align:top">
                        <div class="vote-buttons">
                            {% vote_buttons position request.user %}
                            {% favorite_mark position request.user %}                            
                        </div>
                    </td>
                    <td>
                        <div id="item-right">
                            <div class="issue-body">
                                {{ position.html|safe }}
                            </div>
                            <div id="issue-tags" class="tags-container tags">
                                {% for tag in position.tagname_list %}
                                    <a href="{% url issues_with_tag tag|urlencode %}" class="post-tag tag-link-{{ tag }}"
                                        title="{% blocktrans with tag as tagname %}see issues tagged '{{ tagname }}'{% endblocktrans %}" rel="tag">{{ tag }}</a>
                                {% endfor %}
                            </div>
                            <div id="position-controls" class="post-controls">                            
                                {% post_controls position request.user %}
                                {% wiki_symbol request.user position %}
                            </div>
                            <div class="post-update-info-container">
                                    {% contributors_info position %}
                            </div>
                            {% comments position request.user %}
                        </div>
                        
                    </td>
                </tr>

            </table>
            {% if position.nis.closed %}
            <div class="issue-status" style="margin-bottom:15px">
            <h3>
                {% blocktrans with position.nstate.closed.extra as close_reason %}The position has been closed for the following reason "{{ close_reason }}" by{% endblocktrans %}
                <a href="{{ position.nstate.closed.by.get_profile_url }}">{{ position.nstate.closed.by.username }}</a>
                 {% diff_date position.nstate.closed.at %}
            </h3>
            </div>
            {% endif %}
						{% position_procons position request.user %}
    </div>
</div>
{% endblock %}

{% block sidebar %}
<div class="boxC" id="subscription_box">
    {% include "subscription_status.html" %}
</div>

{% markdown_help %}

{% sidebar_upper %}

{% sidebar_lower %}
<!--div class="boxC">
    <h3 class="subtitle">{ % trans "Related positions" %}</h3>
    <div class="positions-related">

        { % for p in similar_positions %}
        <p>
            <a href="{ { position.get_absolute_url }}">{ { position.headline }}</a>
        </p>
        { % endfor %}
    </div>
</div-->

{% endblock %}

{% block endjs %}
{% endblock %}
<!-- end position.html -->
