{% if not issue.closed %}
	<form id="fmposition{{ position.id }}" action="{% url new_reason position.id %}" method="post">
            {% csrf_token %}
            <div style="clear:both">
            </div>
            
                <div id="description" class="" >
                    <div id="argmap-button-bar" class="wmd-panel"></div>
                    <div id="wmd-button-bar" class="wmd-panel"></div>
                    {{ reason.text }}
                    <div class="preview-toggle">
                        <table width="100%">
                            <tr>
                                <td>
                                    <span id="pre-collapse" 
                                        title="{% trans "Toggle the real time Markdown editor preview" %}">
                                            {% trans "toggle preview" %}
                                    </span>
                                </td>
                                <td style="text-align: right;" id="editor-metrics"></td>
                                <td style="text-align: right;">Max: {{ settings.FORM_MAX_REASON_BODY }} characters</td>
                                {% if settings.WIKI_ON %}
                                <td style="text-align:right;">
                                    {{ answer.wiki }} 
                                    <span style="font-weight:normal;cursor:help" 
                                        title="{{answer.wiki.help_text}}">
                                            {{ answer.wiki.label_tag }} 
                                    </span>
                                </td>
                                {% endif %}
                            </tr>
                        
                        </table>  
                    </div>
                    {{ answer.text.errors }}
                    <div id="previewer" class="wmd-preview"></div>
                </div>

	            {% if answer.recaptcha %}
	            <div class="issue-captcha" style="float: left;">
	            	{{ answer.recaptcha.errors }}
	            	{{ answer.recaptcha }}
	            </div>
	            <div class="clear"></div>
	            {% endif %}
                
                <p><span class="form-error"></span></p>
                <input type="button"
                    {% if user.is_anonymous %}
                        value="{% trans "Login/Signup to Add Pro/Con Aspects" %}" 
                    {% else %}
                        value="{% trans "Add a Pro/Con Aspect to this Issue" %}" 
                    {% endif %}
                    class="submit" style="float:left" onclick="submitClicked(event, this.form)"/>
	</form>
{% endif %}
