{% extends "base.html" %}
<!-- reason.html -->
{% load node_tags %}
{% load extra_tags %}
{% load extra_filters %}
{% load general_sidebar_tags %}
{% load smart_if %}
{% load humanize %}
{% load i18n %}
{% load cache %}
{% block metadescription %}{{ reason.meta_description }}{% endblock %}
{% block metakeywords %}{{reason.tagname_meta_generator}}{% endblock %}
{% block meta %}
        <link rel="canonical" href="{{settings.APP_BASE_URL}}{{reason.get_absolute_url}}" />
        <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ reason.get_absolute_url }}?type=rss">
{% endblock %}
{% block title %}{% spaceless %}{{ reason.headline }}{% endspaceless %}{% endblock %}
{% block forejs %}
        {% if not reason.nis.closed %}
        <script type='text/javascript' src='{% media  "/media/js/debate.js" %}'></script>
        <script type='text/javascript' src='{% media  "/media/js/osqa.question.js" %}'></script>
        <script type='text/javascript' src='{% media  "/media/js/jquery.caret.js" %}'></script>
        <script type='text/javascript' src='{% media  "/media/js/wmd/showdown.js" %}'></script>
        <script type='text/javascript' src='{% media  "/media/js/wmd/wmd.js" %}'></script>
        <link rel="stylesheet" type="text/css" href="{% media  "/media/js/wmd/wmd.css" %}" />

        {% if embed_youtube_videos %}
        <script type='text/javascript' src='{% media  "/media/js/viewbox_min.js" %}'></script>
        <script type='text/javascript' src='{% media  "/media/js/youtube.js" %}'></script>
        <link rel="stylesheet" type="text/css" href="{% media  "/media/js/viewbox.css" %}" />
        {% endif %}
        {% endif %}

        <script type="text/javascript">
        $().ready(function(){
            $("#nav_reasons").attr('className',"on");
            var answer_sort_tab = "{{ tab_id }}";

            if (answer_sort_tab) {
                $("#" + answer_sort_tab).attr('className',"on");
            }

            $('#editor').TextAreaResizer();

            //toggle preview of editor
            var display = true;
            var txt = "[{% trans "hide preview" %}]";
            $('#pre-collapse').text(txt);
            $('#pre-collapse').bind('click', function(){
                txt = display ? "[{% trans "show preview" %}]" : "[{% trans "hide preview" %}]";
                display = !display;
                $('#previewer').toggle();
                $('#pre-collapse').text(txt);
            });
        });

        function submitClicked(e, f) {
            if(!(browserTester('chrome') || browserTester('safari'))) {
                $("input.submit")[0].disabled=true;
            }
            window.removeEventListener('beforeunload', beforeUnload, true);
            if (f) {
                f.submit();
            }
        }

        function beforeUnload(e) {

            if($("textarea#editor")[0].value != "") {
                return yourWorkWillBeLost(e);
            }

            var commentBoxes = $("textarea.commentBox");
            for(var index = 0; index < commentBoxes.length; index++) {
                if(commentBoxes[index].value != "") {
                    return yourWorkWillBeLost(e);
                }
            }
        }
        window.addEventListener('beforeunload', beforeUnload, true);
        </script>
        <noscript>
            <style>
                .comment.not_top_scorer {
                    display: block;
                }
                .comment-form-container {
                    display: block;
                }
                .div.comment-tools {
                    display: none;
                }
            </style>
        </noscript>
{% endblock %}
        
{% block content %}
<div class="headNormal">
    <h1><a href="{{ reason.get_absolute_url }}">{{ reason.headline }}</a></h1>
</div>
<div id="main-body" class="">
    <div id="askform">
            <table style="width:100%;" id="reason-table" {% post_classes reason %}>
                <tr>
                    <td style="width:30px;vertical-align:top">
                        <div class="vote-buttons">
                            {% vote_buttons reason request.user %}
                            {% favorite_mark reason request.user %}                            
                        </div>
                    </td>
                    <td>
                        <div id="item-right">
                            <div class="reason-body">
                                {{ reason.html|safe }}
                            </div>
                            <div id="reason-tags" class="tags-container tags">
                                {% for tag in reason.tagname_list %}
                                    <a href="{% url reasons_with_tag tag|urlencode %}" class="post-tag tag-link-{{ tag }}"
                                        title="{% blocktrans with tag as tagname %}see reasons tagged '{{ tagname }}'{% endblocktrans %}" rel="tag">{{ tag }}</a>
                                {% endfor %}
                            </div>
                            <div id="reason-controls" class="post-controls">                            
                                {% post_controls reason request.user %}
                                {% wiki_symbol request.user reason %}
                            </div>
                            <div class="post-update-info-container">
                                    {% contributors_info reason %}
                            </div>
                            {% comments reason request.user %}
                        </div>
                        
                    </td>
                </tr>
            </table>
            {% if reason.nis.closed %}
            <div class="reason-status" style="margin-bottom:15px">
            <h3>
                {% blocktrans with reason.nstate.closed.extra as close_reason %}The reason has been closed for the following reason "{{ close_reason }}" by{% endblocktrans %}
                <a href="{{ reason.nstate.closed.by.get_profile_url }}">{{ reason.nstate.closed.by.username }}</a>
                 {% diff_date reason.nstate.closed.at %}
            </h3>
            </div>
            {% endif %}
            {% if arguments %}
                <hr/>
                <div class="tabBar">
                    <a name="sort-top"></a>
                    <div class="headQuestions">
                    {% blocktrans count arguments.paginator.count as counter %}One Argument:{% plural %}{{counter}} Arguments:{% endblocktrans %}
                    </div>
                    {{ arguments.paginator.sort_tabs }}
                </div>
                {{ arguments.paginator.page_numbers }}
  
                {% for argument in arguments.paginator.page %}
                    <a name="{{ argument.id }}"></a>
                    <div id="argument-container-{{ argument.id }}" class="answer {% post_classes argument %}{% ifequal argument.id focused_argument_id %} focusedRebuttal{% endifequal %}">
                        <table style="width:100%;">
                            <tr>
                                <td style="width:30px;vertical-align:top">
                                    <div class="vote-buttons">
                                        {% vote_buttons argument request.user %}
                                        {% accept_button argument request.user %}
                                    </div>
                                </td>
                                <td>
                                    <div class="item-right">
                                        <div class="answer-body">
                                            {{ argument.html|safe }}
                                        </div>
                                        <div class="answer-controls post-controls">
                                            {% post_controls argument request.user %}
                                            {% wiki_symbol request.user argument %}
                                        </div>
                                        <div class="post-update-info-container">
                                            {% contributors_info argument %}
                                        </div>
                                        {% comments argument request.user %}
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                {% endfor %}
                <div class="paginator-container-left">
                    {{ arguments.paginator.page_numbers }}
                </div>
            {% endif %}
        <form id="fmargument" action="{% url new_argument_for reason.id %}" method="post">
            {% csrf_token %}
            <div style="clear:both">
            </div>
            
            {% if not reason.closed %}
                <div style="padding:10px 0 0 0;">
                    {% spaceless %}
                    <div class="headNormal">
                        {% if arguments %}
                            {% trans "Your arguments" %}
                        {% else %}
                            {% trans "Be the first one to support this reason!" %}
                        {% endif %}
                    </div>
                    {% endspaceless %}
                </div>
                {% comment %}
                {% if not request.user.is_authenticated %}
                    <div class="message">{% trans "You can answer anonymously and then login." %}</div>
                {% else %}
                    <p class="message">
                        {% ifequal request.user reason.author  %}
                            {% trans "Propose a supporting argument for your original reason." %}
                        {% else %}
                            {% trans "Please only give supporting arguments, no discussions." %}
                        {% endifequal %}
                        {% if not request.user.email_valid_and_can_answer %}
                            {% blocktrans %}Remember, your argument will not be published until you validate your email.{% endblocktrans %}
                            <a href="{% url send_validation_email %}">{% trans "Send me a validation link." %}</a>
                        {% endif %}
                    </p>
                {% endif %}
                {% endcomment %}

                <div id="description" class="" >
                    <!--div id="argmap-button-bar" class="wmd-panel"></div-->
                    <div id="wmd-button-bar" class="wmd-panel"></div>
                    {{ argument.text }}
                    <div class="preview-toggle">
                        <table width="100%">
                            <tr>
                                <td>
                                    <span id="pre-collapse" 
                                        title="{% trans "Toggle the real time Markdown editor preview" %}">
                                            {% trans "toggle preview" %}
                                    </span>
                                </td>
                                <td style="text-align: right;" id="editor-metrics"></td>
                                <td style="text-align: right;">Max: {{ settings.FORM_MAX_QUESTION_BODY }} characters</td>
                                {% if settings.WIKI_ON %}
                                <td style="text-align:right;">
                                    {{ argument.wiki }} 
                                    <span style="font-weight:normal;cursor:help" 
                                        title="{{argument.wiki.help_text}}">
                                            {{ argument.wiki.label_tag }} 
                                    </span>
                                </td>
                                {% endif %}
                            </tr>
                        
                        </table>  
                    </div>
                    {{ argument.text.errors }}
                    <div id="previewer" class="wmd-preview"></div>
                </div>

	            {% if argument.recaptcha %}
	            <div class="reason-captcha" style="float: left;">
	            	{{ argument.recaptcha.errors }}
	            	{{ argument.recaptcha }}
	            </div>
	            <div class="clear"></div>
	            {% endif %}
                
                <p><span class="form-error"></span></p>
                <input type="button"
                    {% if user.is_anonymous %}
                        value="{% trans "Login/Signup to Post Your Argument" %}" 
                    {% else %}
                        {% if user == reason.author %}
                        value="{% trans "Offer an Argument for Your Own Argument" %}" 
                        {% else %}
                        value="{% trans "Offer an Argument" %}" 
                        {% endif %}
                    {% endif %}
                    class="submit" style="float:left" onclick="submitClicked(event, this.form)"/>
            {% endif %}
        </form>
    </div>
</div>
{% endblock %}

{% block sidebar %}
<div class="boxC" id="subscription_box">
    {% include "subscription_status.html" %}
</div>

{% markdown_help %}

{% sidebar_upper %}

{% cache 60 reasons_tags settings.APP_URL reason.id %}
<div class="boxC">
    <p>
		{% trans "Question tags" %}:
    </p>
    <p class="tags" >
        {% for tag in reason.tags.all %}
        	<a href="{% url reasons_with_tag tag.name|urlencode %}"
            class="tag-link-{{ tag.name }}"
			title="{% trans "see reasons tagged"%}'{{tag.name}}'{% trans "using tags" %}"
			rel="tag">{{ tag.name }}</a> <span class="tag-number">&#215;{{ tag.used_count|intcomma }}</span><br/>
        {% endfor %}
    </p>
    <p>
        {% trans "reasons submitted" %}: <strong title="{{ reason.added_at }}">{% diff_date reason.added_at %}</strong>
    </p>
    <p> 
     	{% trans "reason was seen" %}: <strong>{{ reason.view_count|intcomma }} {% trans "times" %}</strong>
    </p>
    <p> 
        {% trans "last updated" %}: <strong title="{{ reason.last_activity_at }}">{% diff_date reason.last_activity_at %}</strong>
    </p>
</div>
{% endcache %}
{% sidebar_lower %}
<div class="boxC">
    <h3 class="subtitle">{% trans "Related reasons" %}</h3>
    <div class="reasons-related">

        {% for reason in similar_reasons %}
        <p>
            <a href="{{ reason.get_absolute_url }}">{{ reason.headline }}</a>
        </p>
        {% endfor %}

    </div>
</div>

{% endblock %}

{% block endjs %}
{% endblock %}
<!-- end reason.html -->

