{% spaceless %}
{% load i18n extra_tags %}
<h3 class="subtitle">{% trans "Follow this debate" %}</h3>
<strong>{% trans "By Email" %}:</strong>
{% if request.user.is_authenticated %}
    <div class="subscription-status">
        {% if subscription %}
            {% if subscription.auto_subscription %}
                <p>{% trans "You were automatically subscribed to this debate." %}</p>
            {% else %}
                <p>{% trans "You are subscribed to this debate." %}</p>
            {% endif %}
        {% else %}
            <p>{% trans "You are not subscribed to this debate." %}</p>
        {% endif %}
    </div>
    <p><a class="ajax-command sidebar_button subscription_switch" href="{% url subscribe_simple id=node.id %}">
        {% if subscription %}
            {% trans "unsubscribe me" %}
        {% else %}
            {% trans "subscribe me" %}
        {% endif %}
    </a></p>
    <p>
        {% blocktrans with request.user.get_user_subscriptions_url as subscriptions_url %}
            (you can adjust your notification settings on your <a href="{{ subscriptions_url }}">profile</a>)
        {% endblocktrans %}
    </p>
{% else %}
    <p>{% trans "Once you sign in you will be able to subscribe for any updates here" %}</p>
{% endif %}
<strong>{% trans "By RSS" %}:</strong>
<p>
    <a class="feed-icon" style="background-image:url('{% media "media/images/feed-icon-small.png" %}');"
        href="{{ question.get_absolute_url }}?type=rss" title="{% trans "subscribe to rebuttals" %}"></a>
    {% trans "Rebuttals" %}
</p>
<p>
    <a class="feed-icon" style="background-image:url('{% media "media/images/feed-icon-small.png" %}');"
        href="{{ question.get_absolute_url }}?type=rss&comments=yes" title="{% trans "subscribe to rebuttals and comments" %}"></a>
    {% trans "Rebuttals and Comments" %}
</p>
{% endspaceless %}
