{% spaceless %}
{% load i18n humanize extra_tags %}
{% declare %}
    reply_count = issues.children_count('position')
{% enddeclare %}

<div class="boxC">
    <div class="issues-count">
        {{ issues.paginator.count }}<span style="color:black;font-size:14px;margin-left:5px">{{ list_description }}</span>
    </div>


    {% if reply_count %}
    <div class="issues-count">
        {{ reply_count }}<span style="color:black;font-size:14px;margin-left:5px">{% trans "positions" %}</span>
    </div>

    {% endif %}

    <div>
        <p class="nomargin">
            {{ issues.paginator.sort_description }}
        </p>
    </div>
</div>
{% endspaceless %}
