{% load i18n humanize extra_filters extra_tags user_tags %}
<div class="short-summary">
    <div class="counts">{% if favorite_count %}
        <div class="favorites">
            <span class="favorite-mark{% if issue.favourite_count %} on{% endif %}"></span>
            <div class="item-count">{{issue.favourite_count|intcomma}}</div>
        </div>
        {% endif %}
        <div class="votes">
            <div class="item-count">{{issue.score|intcomma}}</div>
            <div>{% ifequal issue.score 1 %}{% trans "vote" %}{% else %}{% trans "votes" %}{% endifequal %}</div>
        </div >
        <div class="status {% ifequal issue.reply_count 0 %}unanswered{% endifequal %}{% ifnotequal issue.reply_count 0 %}answered{% endifnotequal %}">
            <div class="item-count">{{issue.reply_count|intcomma}}</div>
            <div>{% ifequal issue.reply_count 1 %}{% trans "position" %}{% else %}{% trans "positions" %}{% endifequal %}</div>
        </div>
        <div class="views">
             <div class="item-count">{{issue.view_count|decorated_int|safe}}</div>
             <div>{% ifequal issue.view_count 1 %}{% trans "view" %}{% else %}{% trans "views" %}{% endifequal %}</div>
        </div>
    </div>

    <div class="issue-summary-wrapper">
        <h2><a title="{{ issue.summary }}" href="{{ issue.get_absolute_url }}">{{issue.headline}}</a></h2>
        <div class="userinfo">
            <span class="relativetime" title="{{issue.last_activity_at}}">{% diff_date issue.last_activity_at %}</span>
            {% if issue.last_activity_by %}{% user_signature issue.last_activity_by signature_type %}{% endif %}
        </div>

        <div class="tags">{% for tag in issue.tagname_list %}
            <a class="tag-link-{{ tag }}" href="{% url issues_with_tag tag|urlencode %}" title="{% trans "see issues tagged" %} '{{ tag }}'" rel="tag">{{ tag }}</a>{% endfor %}
        </div>
    </div>

</div>
