{% load i18n extra_tags email_tags %}

{% declare %}
    prefix = html.mark_safe(smart_str(settings.EMAIL_SUBJECT_PREFIX))
    app_name = smart_str(settings.APP_SHORT_NAME)
    safe_app_name = html.mark_safe(smart_str(settings.APP_SHORT_NAME))
    rebuttal_author = html.mark_safe(smart_str(rebuttal.author.username))
    issue = rebuttal.issue
    issue_title = html.mark_safe(smart_str(issue.title))
    safe_body = html.html2text(smart_str(rebuttal.html))
    author_link = html.objlink(rebuttal.author, style=settings.EMAIL_ANCHOR_STYLE)
    issue_link = html.objlink(issue, style=settings.EMAIL_ANCHOR_STYLE)
{% enddeclare %}

{% email %}
    {% subject %}{% blocktrans %}{{ prefix }} New rebuttal to: {{ issue_title }}{% endblocktrans %}{% endsubject %}

    {% htmlcontent notifications/base.html %}
        <p style="{{ p_style }}">
            {% blocktrans %}
            {{ author_link }} has just posted a new rebuttal on {{ app_name }} to the issue
            {{ issue_link }}:
            {% endblocktrans %}
        </p>

        <blockquote>
        {{ rebuttal.html|safe }}
        </blockquote>

        <p style="{{ p_style }}">{% trans "Don't forget to come over and cast your vote." %}</p>
    {% endhtmlcontent %}

{% textcontent notifications/base_text.html %}
{% blocktrans %}
{{ rebuttal_author }} has just posted a new rebuttal on {{ safe_app_name }} to the issue
"{{ issue_title }}":
{% endblocktrans %}
{{ safe_body }}

{% trans "Don't forget to come over and cast your vote." %}
{% endtextcontent %}

{% endemail %}

