{% load node_tags %}
{% load i18n extra_tags extra_filters markup ui_registry %}

<div class="positionBlock">
<div class="positionTitle">
    <h2><a name="{{position.id}}" onclick="toggleDisplay('details_{{position.id}}');return false;">
       Position: {{ position.headline }}</a>
    </h2>
</div>
<div class="positionDetails" id="details_{{position.id}}">
	<div>

            <table style="width:100%;" {% post_classes position %}>
                <tr>
                    <td style="width:30px;vertical-align:top">
                        <div class="vote-buttons">
    												{% vote_buttons position user %}
                            <!--{ % favorite_mark position user % } -->
                        </div>
                    </td>
                    <td>
                        <div class="id-item-right">
													<div class="position-body">
  												  {{ position.html|safe }}
													</div>
                            <div class="tags-container tags">
                                {% for tag in position.tagname_list %}
                                    <a href="{% url arguments_with_tag tag|urlencode %}" class="post-tag tag-link-{{ tag }}"
                                        title="{% blocktrans with tag as tagname %}see arguments tagged '{{ tagname }}'{% endblocktrans %}" rel="tag">{{ tag }}</a>
                                {% endfor %}
                            </div>
                            <div id="position-controls" class="post-controls">                            
                                {% post_controls position user %}
                                {% wiki_symbol user position %}
                            </div>
                            <div class="post-update-info-container">
                                    {% contributors_info position %}
                            </div>
                            {% comments position user %}
                        </div>
                        
                    </td>
                </tr>
            </table>
            {% if position.nis.closed %}
            <div class="post-status" style="margin-bottom:15px">
            <h3>
                {% blocktrans with position.nstate.closed.extra as close_reason %}This position has been closed for the following reason "{{ close_reason }}" by{% endblocktrans %}
                <a href="{{ position.nstate.closed.by.get_profile_url }}">{{ position.nstate.closed.by.username }}</a>
                 {% diff_date position.nstate.closed.at %}
            </h3>
            </div>
            {% endif %}

						{% position_procons position user %}

	</div>
</div> {# positionDetails #}
</div> {# positionBlock #}
