{% load node_tags %}
{% load i18n extra_tags extra_filters markup ui_registry %}

<div class='ProCons'>
	<div class='column proColumn'>
		<div class='heading proHeading'><span class="proText">For position</span></div>
		{% if pros %}
                	{# % for reasonPost in pros.paginator.page % #}
                	{% for reasonPost in pros %}
				<div class='positionSupportCell'>
                      <div class="vote-buttons">
                          {% vote_display reasonPost user %}
                      </div>
					<div class='reason-body'>
            						{% if not reasonPost.published %}<span class='draft'>(draft)</span>{% endif %}
						{{ reasonPost.html|safe }}
						<a href="{% url argument reasonPost.id %}">Read more / vote...</a>
					</div>
                      <div class="reason-controls post-controls">
                        {% post_controls reasonPost user %}
                        {% wiki_symbol user reasonPost %}
                      </div>
				</div>
                	{% endfor %}
		{% endif %}
		<div>
            		{% if not issue.closed %}
        				<a href="{% url new_reason_for position.id %}">
			<div class='addProConArgument addNewNodeButton'>Add argument for</div>
		</a>
		{% endif %}
		</div>
	</div>
	<div class='column conColumn'>
		<div class='heading conHeading'><span class="conText">Against position</span></div>
		{% if cons %}
                	{# % for reasonPost in cons.paginator.page % #}
                	{% for reasonPost in cons %}
				<div class='positionSupportCell'>
                      <div class="vote-buttons">
                          {% vote_display reasonPost user %}
                      </div>
					<div class='reason-body'>
            						{% if not reasonPost.published %}<span class='draft'>(draft)</span>{% endif %}
						{{ reasonPost.html|safe }}
						<a href="{% url argument reasonPost.id %}">Read more / vote...</a>
					</div>
                      <div class="reason-controls post-controls">
                        {% post_controls reasonPost user %}
                        {% wiki_symbol user reasonPost %}
                      </div>
				</div>
                	{% endfor %}
		{% endif %}
            		{% if not issue.closed %}
        				<a href="{% url new_reason_against position.id %}">
			<div class='addProConArgument addNewNodeButton'>Add argument against</div>
		</a>
		{% endif %}
	</div>
</div>
