{% extends "user.html" %}
<!-- user_stats.html -->
{% load i18n %}
{% load extra_tags %}
{% load extra_filters %}
{% load humanize %}
{% load issue_list_tags %}
{% load argument_list_tags %}
		{% block usercontent %}

        <a name="issues"></a>
        {% spaceless %}
            <h2>
                {% blocktrans count issues.paginator.count as counter %}
                <span class="count">{{counter}}</span> Issue
                {% plural %}
                <span class="count">{{counter}}</span> Issues
                {% endblocktrans %}
                <a class="feed-icon" style="background-image:url('{% media "media/images/feed-icon-small.png" %}');"
                    href="{{ view_user.get_asked_url }}?type=rss" title="{% trans "subscribe to issue RSS feed" %}"></a>
            </h2>
        {% endspaceless %}
        <div>{{ issues.paginator.sort_tabs }}</div>
		<div id="listA" class="user-stats-table">
		    {% for issue in issues.paginator.page %}
		        {% issue_list_item issue favorite_count=yes signature_type=badges %}
		    {% endfor %}
		</div>
		<br clear="all"/>
		<div class="pager">{{ issues.paginator.page_numbers }}</div>
		<br clear="all"/>

        <a name="reasons"></a>
        {% spaceless %}
            <h2>
                {% blocktrans count reasons.paginator.count as counter %}
                <span class="count">{{counter}}</span> Reason
                {% plural %}
                <span class="count">{{counter}}</span> Reasons
                {% endblocktrans %}
            </h2>
        {% endspaceless %}
        <div>{{ reasons.paginator.sort_tabs }}</div>
        <div class="user-stats-table">
            {% for reason in reasons.paginator.page %}
            <div class="reason-summary">
                <a title="{{reason.issue.title}}"
                    href="{{ reason.get_absolute_url }}">
                    <span class="reason-votes" 
						title="{% blocktrans with reason.score as vote_count %}the reason has been voted for {{ vote_count }} times{% endblocktrans %}">
                        {{ reason.score }}
                    </span>
                </a>
                <div class="reason-link">
                    {% spaceless %}
                    <a href="{{ reason.get_absolute_url }}">{{reason.headline}}</a>
                    {% endspaceless %}
                </div>
            </div>
            {% endfor %}
        </div>
        <br clear="all"/>
		<div class="pager">{{ reasons.paginator.page_numbers }}</div>


        <a name="arguments"></a>
        {% spaceless %}
            <h2>
                {% blocktrans count arguments.paginator.count as counter %}
                <span class="count">{{counter}}</span> Question
                {% plural %}
                <span class="count">{{counter}}</span> Questions
                {% endblocktrans %}
                <a class="feed-icon" style="background-image:url('{% media "media/images/feed-icon-small.png" %}');"
                    href="{{ view_user.get_asked_url }}?type=rss" title="{% trans "subscribe to argument RSS feed" %}"></a>
            </h2>
        {% endspaceless %}
        <div>{{ arguments.paginator.sort_tabs }}</div>
		<div id="listA" class="user-stats-table">
		    {% for argument in arguments.paginator.page %}
		        {% argument_list_item argument favorite_count=yes signature_type=badges %}
		    {% endfor %}
		</div>
		<br clear="all"/>
		<div class="pager">{{ arguments.paginator.page_numbers }}</div>
		<br clear="all"/>

        <a name="rebuttals"></a>
        {% spaceless %}
            <h2>
                {% blocktrans count rebuttals.paginator.count as counter %}
                <span class="count">{{counter}}</span> Answer
                {% plural %}
                <span class="count">{{counter}}</span> Answers
                {% endblocktrans %}
            </h2>
        {% endspaceless %}
        <div>{{ rebuttals.paginator.sort_tabs }}</div>
        <div class="user-stats-table">
            {% for rebuttal in rebuttals.paginator.page %}
            <div class="rebuttal-summary">
                <a title="{{rebuttal.argument.title}}"
                    href="{{ rebuttal.get_absolute_url }}">
                    <span class="rebuttal-votes" 
						title="{% blocktrans with rebuttal.score as vote_count %}the rebuttal has been voted for {{ vote_count }} times{% endblocktrans %}">
                        {{ rebuttal.score }}
                    </span>
                </a>
                <div class="rebuttal-link">
                    {% spaceless %}
                    <a href="{{ rebuttal.get_absolute_url }}">{{rebuttal.headline}}</a>
                    {% endspaceless %}
                </div>
            </div>
            {% endfor %}
        </div>
        <br clear="all"/>
		<div class="pager">{{ rebuttals.paginator.page_numbers }}</div>


        <br clear="all"/>
        <a name="votes"></a>
        {% spaceless %}
            <h2>
                {% blocktrans count total_votes as cnt %}
                    <span class="count">{{cnt}}</span> Vote
                {% plural %}
                    <span class="count">{{cnt}}</span> Votes
                {% endblocktrans %}
            </h2>
        {% endspaceless %}
        <div class="user-stats-table">
            <table>
                <tr>
                    <td width="60">
                        <img style="cursor: default;" src="{% media  "/media/images/vote-arrow-up-on.png" %}" alt="{% trans "thumb up" %}" />
                            <span title="{% trans "user has voted up this many times" %}" class="vote-count">{{up_votes}}</span>

                    </td>
                    <td width="60">
                        <img style="cursor: default;" src="{% media  "/media/images/vote-arrow-down-on.png" %}" alt="{% trans "thumb down" %}" />
                            <span title="{% trans "user voted down this many times" %}" class="vote-count">{{down_votes}}</span>

                    </td>
                </tr>
            </table>
        </div>
        <a name="tags"></a>
        {% spaceless %}
            <h2>
                {% blocktrans count user_tags|length as counter %}
                    <span class="count">{{counter}}</span> Tag
                {% plural %}
                    <span class="count">{{counter}}</span> Tags
                {% endblocktrans %}
            </h2>
        {% endspaceless %}
        <div class="user-stats-table">
            <table class="tags">
                <tr style="vertical-align: top;">
                    <td valign="top" style="padding-right: 20px;">
                        {% for tag in user_tags%}
                        <a rel="tag" 
                            class="tag-link-{{ tag.name }}"
							title="{% blocktrans with tag.name as tag_name %}see other posts with {{view_user}}'s contributions tagged '{{ tag_name }}' {% endblocktrans %}"
							href="{% url posts_with_tag tag|urlencode %}?user={{view_user.username}}">{{tag.name}}</a>
                        <span class="tag-number">&#215; {{ tag.user_tag_usage_count|intcomma }}</span><br/>
                            {% if forloop.counter|divisibleby:"10" %}
                                </td>
                                <td width="180"  valign="top">
                            {% endif %}
                        {% endfor %}
                    </td>
                </tr>
            </table>
        </div>
        <a name="badges"></a>
        {% spaceless %}
        <h2>
            {% blocktrans count total_awards as counter %}
            <span class="count">{{counter}}</span> Badge
            {% plural %}
            <span class="count">{{counter}}</span> Badges
            {% endblocktrans %}
        </h2>
        {% endspaceless %}
        <div class="user-stats-table">
            <table>
                <tr style="vertical-align: top;">
                    <td style="line-height:35px; padding-right: 20px;">
                        {% for award, count in awards %}
                            {% spaceless %}
                            <a href="{% url badges %}{{award.id}}/{{award.name|slugify}}" title="{{ award.description }}" class="medal">
                                <span class="badge{{ award.type }}">&#9679;</span>&nbsp;{{ award.name }}
                            </a>
                            {% ifnotequal count 1 %}
                                <span class="tag-number"> &#215; {{ count|intcomma }}</span>
                            {% endifnotequal %}<br/>
                            {% if forloop.counter|divisibleby:"6" %}
                                </td>
                                <td width="180" style="line-height:35px">
                            {% endif %}
                            {% endspaceless %}
                        {% endfor %}
                    </td>
                </tr>
            </table>
        </div>
{% endblock %}
<!-- end user_stats.html -->
